<mat-toolbar color="primary">
  <button mat-button (click)="sideNavOpen = !sideNavOpen">
    <mat-icon aria-label="Open Menu">menu</mat-icon>
  </button>
  <span>Dashboard</span>
  <button mat-button [matMenuTriggerFor]="menu">Add</button>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let widget of widgetsService.widgetSlugs">
      <button mat-menu-item (click)="newWidget(widget)">{{ widget }}</button>
    </ng-container>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="dashboard-container">
  <mat-sidenav mode="side" [opened]="sideNavOpen">
    <app-sidemenu></app-sidemenu>
  </mat-sidenav>
  <mat-sidenav-content class="dashboard-content">
    <div class="widget-container">
      <div
        class="widget"
        *ngFor="let component of widgetsService.widgets; index as i"
        #widgets
      >
        <ng-template #widgetViews></ng-template>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
